@media (prefers-color-scheme: dark) {
  :root {
    --note-title-background-color: darkslategrey;
    --note-background-color: rgb(31, 41, 55);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --note-title-background-color: antiquewhite;
    --note-background-color: white;
  }
}

@media (max-width: 767px) {
  .note {
    width: 48%;
  }

  #notes {
    justify-content: space-between;
  }

  #note-modal-inner {
    height: 95%;
    width: 95%;
  }

  #note-modal span {
    width: min-content;
  }

  #logout {
    width: 70px;
  }
}

@media (min-width: 768px) {
  .note {
    width: 32%;
  }

  #note-modal-inner {
    height: 80%;
    width: 80%;
  }

  #note-modal span {
    width: fit-content;
  }

  #logout {
    width: 80px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .note:nth-child(3n + 2) {
    margin: auto 2%;
  }
}

@media (min-width: 1024px) {
  .note {
    width: 23.5%;
  }

  .note:nth-child(4n + 2) {
    margin: auto 1% auto 2%;
  }

  .note:nth-child(4n + 3) {
    margin: auto 2% auto 1%;
  }
}

@media (min-width: 1280px) {
}

@media (max-width: 1280px) {
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.input,
.select select,
.textarea {
  color: inherit;
  border: 4px solid;
  background-color: var(--bg-color);
}

input {
  color: inherit;
  background-color: inherit;
}

textarea {
  resize: none;
  width: 100%;
  border: 0px;
  color: inherit;
  background-color: transparent;
}

textarea:focus-visible {
  outline: 0;
}

h1 > span {
  animation: title-animation 30s linear infinite;
}

h1 > span:nth-child(1) {
  --color-1: #D2E0FB;
  --color-2: #F9F3CC;
  --color-3: #D7E5CA;
  --color-4: #8EACCD;
  --color-5: #2E4374;
}

h1 > span:nth-child(2) {
  --color-1: #2E4374;
  --color-2: #D2E0FB;
  --color-3: #F9F3CC;
  --color-4: #D7E5CA;
  --color-5: #8EACCD;
}

h1 > span:nth-child(3) {
  --color-1: #8EACCD;
  --color-2: #2E4374;
  --color-3: #D2E0FB;
  --color-4: #F9F3CC;
  --color-5: #D7E5CA;
}

h1 > span:nth-child(4) {
  --color-1: #D7E5CA;
  --color-2: #8EACCD;
  --color-3: #2E4374;
  --color-4: #D2E0FB;
  --color-5: #F9F3CC;
}

h1 > span:nth-child(5) {
  --color-1: #F9F3CC;
  --color-2: #D7E5CA;
  --color-3: #8EACCD;
  --color-4: #2E4374;
  --color-5: #D2E0FB;
}

section:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section:first-child div:first-child {
  width: 100%;
}

section:first-child div:last-child {
  display: flex;
  margin-left: 1%;
}

section:first-child button {
  width: min-content;
  margin: 0 1% 0 1%;
}

#disable-delete-note,
.delete-note {
  display: none;
}

#notes {
  display: flex;
  flex-wrap: wrap;
  transition: all .5s;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  aspect-ratio: 1;
  margin: 1% 0;
  border: 2px solid;
  overflow: hidden;
  transform: translateY(0%);
  box-shadow: 0 0 0px 0px rgba(60, 64, 67, 0.302),
    0 0 0px 0px rgba(60, 64, 67, 0.149);
}

.note-detail > *:hover {
  cursor: pointer;
}

.note:has(.note-detail:hover) {
  transform: translateY(-1%);
  box-shadow: 0 1px 3px 3px rgb(60 64 67 / 20%),
    0 1px 3px 0px rgb(60 64 67 / 10%);
  transition: all 0.2s;
}

.note-detail {
  height: 100%;
  width: 100%;
}

.note-title {
  height: auto;
  width: 80%;
  margin: auto;
  padding: 1% 2%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.note textarea {
  height: inherit;
  overflow: hidden;
}

.open-note,
.delete-note {
  position: relative;
  height: 22%;
  width: 70%;
  margin: -32% 0 10% 0;
  font-weight: 600;
  border: 0;
  z-index: 10;
}

.open-note {
  background-color: mediumseagreen;
}

.delete-note {
  background-color: indianred;
}

.note-title,
#note-modal-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  background-color: var(--note-title-background-color);
  color: inherit;
}

.note,
#note-modal-inner {
  border-radius: 5px;
  background-color: var(--note-background-color);
}

.note.active {
  height: 100%;
  width: 100%;
}

#note-modal {
  display: flex;
  height: 0%;
  width: 0%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 20;
}

#note-modal.active {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px) brightness(0.5);
  transition: width 0.5s,
    height 1s
      linear(
        0 0%,
        0 2.27%,
        0.02 4.53%,
        0.04 6.8%,
        0.06 9.07%,
        0.1 11.33%,
        0.14 13.6%,
        0.25 18.15%,
        0.39 22.7%,
        0.56 27.25%,
        0.77 31.8%,
        1 36.35%,
        0.89 40.9%,
        0.85 43.18%,
        0.81 45.45%,
        0.79 47.72%,
        0.77 50%,
        0.75 52.27%,
        0.75 54.55%,
        0.75 56.82%,
        0.77 59.1%,
        0.79 61.38%,
        0.81 63.65%,
        0.85 65.93%,
        0.89 68.2%,
        1 72.7%,
        0.97 74.98%,
        0.95 77.25%,
        0.94 79.53%,
        0.94 81.8%,
        0.94 84.08%,
        0.95 86.35%,
        0.97 88.63%,
        1 90.9%,
        0.99 93.18%,
        0.98 95.45%,
        0.99 97.73%,
        1 100%
      ),
    backdrop-filter 1s;
  transition-delay: 0s, 0.5s, 2s;
}

#note-modal-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  overflow: hidden;
}

#note-modal.active > #note-modal-inner {
  border: 2px solid;
}

#note-modal form {
  height: 90%;
  width: 100%;
}

#note-modal-title {
  height: 10%;
  width: 100%;
  border: 0;
}

#note-modal textarea {
  height: 90%;
}

#note-modal textarea,
.note-text {
  padding: 2%;
}

#note-modal span {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 10%;
  padding: 0 1%;
  width: 100%;
}

#logout {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 2vw;
  bottom: 2vw;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50px;
  background-color: indianred;
}

#logout:hover {
  cursor: pointer;
}

#logout > i {
  scale: 1.5;
}

@keyframes title-animation {
  0% {
    color: var(--color-1);
  }
  25% {
    color: var(--color-2);
  }
  50% {
    color: var(--color-3);
  }
  75% {
    color: var(--color-4);
  }
  100% {
    color: var(--color-1);
  }
}