@media (prefers-color-scheme: dark) {

}

@media (max-width: 767px) {
  .note {
    max-height: 30vh;
    width: 30%;
  }
}

@media (min-width: 768px) {
  .note {
    max-height: 30vh;
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) and (max-width: 1280px) {

}

@media (min-width: 1280px) {

}

@media (max-width: 1280px) {

}


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#notes {
  display: flex;
  justify-content: space-between;
}

.note {
  border: 2px solid;
  overflow: hidden;
}

.note.active {
  height: 100%;
  width: 100%;
}

#note-modal {
  display: flex;
  height: 0%;
  width: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: width 0.5s,
    height 1s
      linear(
        0 0%,
        0 2.27%,
        0.02 4.53%,
        0.04 6.8%,
        0.06 9.07%,
        0.1 11.33%,
        0.14 13.6%,
        0.25 18.15%,
        0.39 22.7%,
        0.56 27.25%,
        0.77 31.8%,
        1 36.35%,
        0.89 40.9%,
        0.85 43.18%,
        0.81 45.45%,
        0.79 47.72%,
        0.77 50%,
        0.75 52.27%,
        0.75 54.55%,
        0.75 56.82%,
        0.77 59.1%,
        0.79 61.38%,
        0.81 63.65%,
        0.85 65.93%,
        0.89 68.2%,
        1 72.7%,
        0.97 74.98%,
        0.95 77.25%,
        0.94 79.53%,
        0.94 81.8%,
        0.94 84.08%,
        0.95 86.35%,
        0.97 88.63%,
        1 90.9%,
        0.99 93.18%,
        0.98 95.45%,
        0.99 97.73%,
        1 100%
      ),
    backdrop-filter 1s;
  transition-delay: 0s, 0.5s, 2s;
}

#note-modal.active {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px) brightness(0.5);
}

#note-detail {
  height: 80%;
  width: 80%;
  margin: auto;
}

#note-detail textarea {
  display: none;
  resize: none;
  height: 100%;
  width: 100%;
  border: 2px solid black;
}

#note-modal.active > #note-detail {
  
}

#note-modal.active > #note-detail textarea {
  display: inline-block;
}
