:root {
  --main-bg-color: antiquewhite;
}

body {
  display: flex;
}

.input {
  border-radius: 10px;
}

.animated-title {
  height: 90px;
  margin-top: -90px;
  font-size: 45px;
}

h2,
h3 {
  margin: 0;
  color: var(--h1-color);
  border-radius: 5px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
  text-decoration: underline;
}

.field {
  margin-top: 20px;
  margin-bottom: 20px;
}

.control {
  text-align: center;
}

.input {
  border: 0;
}

.button-stylised {
  width: 250px;
}

.global-container {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}

.global-container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5%;
}

.login-container-1 {
  min-height: 300px;
}

.login-container-1,
.signup-container-2 {
  background-color: rgb(var(--accent-color-1), 1);
}

.login-container-1 .button-stylised,
.signup-container-2 .button-stylised {
  color: black;
  background-color: rgb(var(--bg-color), 1);
}

.login-container-1 .button-stylised:hover,
.login-container-1 .button-stylised:active,
.signup-container-2 .button-stylised:hover,
.signup-container-2 .button-stylised:active {
  background-color: white;
}

#loader {
  display: none;
  width: 80px;
  height: 30px;
  margin: auto;
  --g: radial-gradient(
      farthest-side,
      #0000 calc(95% - 6px),
      #fff calc(100% - 6px) 98%,
      #0000 101%
    )
    no-repeat;
  background: var(--g), var(--g), var(--g);
  background-size: 20px 20px;
  animation: loader 1s infinite alternate;
}

#errors > span {
  display: block;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 1%;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  background-color: indianred;
}

.signup-container-1,
.login-container-2 {
  min-height: 150px;
  justify-content: center;
  background-color: rgb(var(--accent-color-1), 0.75);
}

.signup-container-2 {
  min-height: 400px;
}

.signup-container-1 > h2,
.login-container-2 > h2 {
  margin-bottom: 7.5%;
  text-align: center;
}

.button-stylised {
  color: black;
  background-color: white;
}

.signup-container-1 .button-stylised:hover,
.signup-container-1 .button-stylised:active,
.login-container-2 .button-stylised:hover,
.login-container-2 .button-stylised:active {
  color: black;
  background-color: white;
}

#login-form,
#signup-form {
  width: 100%;
}

.login-container-1 > .field,
.signup-container-2 > .field {
  margin: 0;
}

@media (min-width: 1024px) {
  .animated-title {
    font-size: 60px;
  }

  .global-container.login,
  .global-container.signup {
    flex-wrap: nowrap;
  }

  .global-container.login {
    min-height: 400px;
  }

  .global-container.signup {
    min-height: 550px;
    flex-wrap: nowrap;
  }

  .global-container > div {
    min-height: unset;
  }

  .login-container-1,
  .signup-container-2 {
    min-width: 500px;
  }

  .login-container-1 > *,
  .signup-container-2 > * {
    width: 100%;
  }

  .signup-container-1,
  .login-container-2 {
    min-width: 300px;
  }
}

@keyframes loader {
  0% {
    background-position: 0 50%, 50% 50%, 100% 50%;
  }
  20% {
    background-position: 0 0, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0 100%, 50% 0, 100% 50%;
  }
  60% {
    background-position: 0 50%, 50% 100%, 100% 0;
  }
  80% {
    background-position: 0 50%, 50% 50%, 100% 100%;
  }
  100% {
    background-position: 0 50%, 50% 50%, 100% 50%;
  }
}
