@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: black;
  }

  .label {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: antiquewhite;
  }
}

@media (max-width: 767px) {
}

@media (min-width: 768px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (max-width: 1280px) {
}

body {
  display: flex;
}

.input {
  border-radius: 10px;
}

main {
  width: 100%;
  max-width: 768px;
}

h1, aside {
  margin: 8% 0;
}

#main-container {
  padding: 2%;
  border-radius: 20px;
  background-color: var(--main-bg-color);
}

#errors > span {
  display: block;
  width: 100%;
  padding: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  background-color: red;
}

.button-stylised {
  width: 250px;
}

aside .button-stylised {
  border-radius: 0;
}

.control:has(.button-stylised) {
  text-align: center;
}
