html
    head
        title= title

        block stylesheets
            link(rel="stylesheet", href="/stylesheets/normalize.css")

    body
        h1 #{title}

        block content
            p This page doesn't have any content yet.

        block js