extends base

append stylesheets
    link(rel="stylesheet" href="/stylesheets/notes.css")

block content
    h1
        for letter of title
            span=letter
        
    main
        section
            div
                form
                    input(id="search-note" class="input" type="text" name="search-note" placeholder="Rechercher une note")

            div
                button(id="new-note" class="button-stylised" onclick="") Nouvelle note
                button(id="enable-delete-note" class="button-stylised" onclick="enableDeleteNote()") Supprimer une note
                button(id="disable-delete-note" class="button-stylised" onclick="disableDeleteNote()") Terminer

        section(id="notes")
            for note in notes
                article(class="note")
                    input(type="text" name="note-id" value=note._id hidden)
                    div(class="note-detail")
                        div(class="note-title")=note.title
                        textarea(class="note-text" readonly)=note.text
                    button(class="delete-note") Supprimer

        article(id="note-modal")
            div(id="note-modal-inner")
                form
                    input(id="note-modal-id" type="text" name="note-modal-id" hidden)
                    input(id="note-modal-title" type="text" name="note-modal-title" placeholder="Titre")
                    textarea(id="note-modal-text" name="text")
                span
                    button(id="close-modal-btn" class="button-stylised") Sauvegarder

        div(id="logout" onclick="logOut()")


block js
    script(src='/js/note-template.js')
    script(src='/js/functions.js')
    script(src='/js/get-notes.js')
    script(src='/js/search-note.js')
    script(src='/js/listeners.js')
