extends base


append stylesheets
    //- Quill CSS
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css")
    link(rel="stylesheet" href="/stylesheets/notes.css")


block content
    h1.animated-title
        for letter of h1
            span=letter
        
    main
        section
            div
                form
                    input(id="search-note" class="input" type="text" name="search-note" placeholder="Rechercher une note")

            div
                button#new-note.button-stylised(onclick="")
                    i.fa-solid.fa-plus(style="color: #ffffff; width: 24px;")

                button#enable-delete-note.button-stylised(onclick="enableDeleteNote()")
                    i.fa-regular.fa-trash-can(style="color: #ffffff; width: 24px;")

                button(id="disable-delete-note" class="button-stylised" onclick="disableDeleteNote()") Terminer

        section(id="notes")
            for note in notes
                article(class="note")
                    input(type="text" name="note-id" value=note._id hidden)
                    div(class="note-detail")
                        h2(class="note-title")=note.title ? note.title : "-"
                        div.note-text !{note.text}
                    button(class="button-stylised delete-note") Supprimer

        article(id="note-modal")
            div(id="note-modal-inner")
                form
                    input(id="note-modal-id" type="text" name="note-modal-id" hidden)
                    input(id="note-modal-title" type="text" name="note-modal-title" placeholder="Titre")

                    //- Conteneur principal et éditeur Quill
                    .richbox
                    div#custom-toolbar
                        span.ql-formats
                            button.ql-bold(title="Gras")
                                i.fa-solid.fa-bold
                            button.ql-italic(title="Italique")
                                i.fa-solid.fa-italic
                            button.ql-underline(title="Souligné")
                                i.fa-solid.fa-underline
                            button.ql-strike(title="Barré")
                                i.fa-solid.fa-strikethrough
                        span.ql-formats
                            select.ql-header(name="text-size")
                                option(value="" selected) Aa
                                //- En réalité H3 et H4
                                option(value="3") H1
                                option(value="4") H2
                        span.ql-formats
                            select.ql-color(name="text-color")
                                option(value="" selected) Couleur
                                option(value="black") Noir
                                option(value="red") Rouge
                            select.ql-background(name="text-surlign")
                                option(value="" selected) Surlignage
                                option(value="green") Vert
                                option(value="yellow") Jaune
                                option(value="red") Rouge
                    #editor

                div.save-container
                    


                    button(id="close-modal-btn" class="button-stylised") Sauvegarder / Fermer

        div(id="logout" class="button-stylised" onclick="logOut()")
            i.fa-solid.fa-arrow-right-from-bracket(style="color: #ffffff")
            h2 Deconnexion

block js
    script(src='/js/note-template.js')
    script(src='/js/functions.js')
    script(src='/js/get-notes.js')
    script(src='/js/search-note.js')
    script(src='/js/listeners.js')
    
    //- Quill CSS
    script(src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js")
    script.
        const quill = new Quill('#editor', {
            modules: {
                toolbar: {
                    container: '#custom-toolbar',
                }
            }
        });
