extends base

append stylesheets
    link(rel="stylesheet", href="/stylesheets/notes.css")

block content
    main
        article(id="new-note")
            form(action="/" method="post")
                input(type="text" name="text" placeholder="Entrez votre texte ici :")
                button(type="submit")='Soumettre'

        section(id="notes")
            <!-- Lors du clic, récupérer les données et créer une nouvelle div qui aura le comportement d'un modal (position: fixed etc) -->
            for note in notes
                article(class="note")
                    div=note.note_id
                    div=note.text

            article(id="note-modal")
                div(id="note-detail")
                    div
                        form(action="/" method="post")
                        textarea(id="note-text" name="text", cols="30", rows="10")

block js
    script(src='/js/open-modal.js')