extends base


append stylesheets
    //- Quill CSS
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css")
    link(rel="stylesheet" href="/stylesheets/notes.css")


block content
    h1
        for letter of title
            span=letter
        
    main
        section
            div
                form
                    input(id="search-note" class="input" type="text" name="search-note" placeholder="Rechercher une note")

            div
                button#new-note.button-stylised(onclick="")
                    i.fa-solid.fa-plus(style="color: #ffffff; width: 24px;")

                button#enable-delete-note.button-stylised(onclick="enableDeleteNote()")
                    i.fa-regular.fa-trash-can(style="color: #ffffff; width: 24px;")

                button(id="disable-delete-note" class="button-stylised" onclick="disableDeleteNote()") Terminer

        section(id="notes")
            for note in notes
                article(class="note")
                    input(type="text" name="note-id" value=note._id hidden)
                    div(class="note-detail")
                        div(class="note-title")=note.title
                        div.note-text !{note.text}
                    button(class="button-stylised delete-note") Supprimer

        article(id="note-modal")
            div(id="note-modal-inner")
                form
                    input(id="note-modal-id" type="text" name="note-modal-id" hidden)
                    input(id="note-modal-title" type="text" name="note-modal-title" placeholder="Titre")

                    //- Conteneur principal et éditeur Quill
                    .richbox
                    #editor

                div.save-container
                    div#custom-toolbar
                        span.ql-formats
                            button.ql-bold(title="Gras")
                                i.fa-solid.fa-bold
                            button.ql-italic(title="Italique")
                                i.fa-solid.fa-italic
                            button.ql-underline(title="Souligné")
                                i.fa-solid.fa-underline
                            button.ql-strike(title="Barré")
                                i.fa-solid.fa-strikethrough
                        span.ql-formats
                            select.ql-header(name="text-size")
                                option(value="" selected) Aa
                                option(value="1") H1
                                option(value="2") H2
                        span.ql-formats
                            select.ql-color(name="text-color")
                                option(value="" selected) Couleur
                                option(value="black") Noir
                                option(value="red") Rouge
                            select.ql-background(name="text-surlign")
                                option(value="" selected) Surlignage
                                option(value="green") Vert
                                option(value="yellow") Jaune
                                option(value="red") Rouge


                    button(id="close-modal-btn" class="button-stylised") Sauvegarder / Fermer

        div(id="logout" class="button-stylised" onclick="logOut()")
            i.fa-solid.fa-arrow-right-from-bracket(style="color: #ffffff")

block js
    script(src='/js/note-template.js')
    script(src='/js/functions.js')
    script(src='/js/get-notes.js')
    script(src='/js/search-note.js')
    script(src='/js/listeners.js')
    
    //- Quill CSS
    script(src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js")
    script.
        const quill = new Quill('#editor', {
            modules: {
                toolbar: {
                    container: '#custom-toolbar',
                }
            }
        });

        function updateSelects() {
            const range = quill.getSelection();
            if (!range) return;

            const formats = quill.getFormat(range);

            document.querySelector('.ql-header').value = formats.header || "Aa";
            document.querySelector('.ql-color').value = formats.color || "Couleur";
            document.querySelector('.ql-background').value = formats.background || "Surlignage";
            }

            // À chaque changement de texte
            quill.on('text-change', (delta, oldDelta, source) => {
            const range = quill.getSelection();
            if (!range) return;

            // Vérifie si un retour à la ligne vient d'être inséré
            delta.ops.forEach(op => {
                if (op.insert === '\n') {
                // Mise à jour des selects après Enter
                setTimeout(updateSelects, 0); // Timeout 0 pour attendre que Quill ait inséré la ligne
                }
            });

            updateSelects();
            });

            // Mise à jour au changement de sélection
            quill.on('selection-change', () => {
            updateSelects();
        });

