extends base

append stylesheets
    link(rel="stylesheet" href="/stylesheets/notes.css")

block content
    main
        section
            div
                form
                    input(id="search-note" class="input" type="text" name="search-note" placeholder="Rechercher une note")
            
            button(id="close-modal-btn" class="button-stylised" onclick="document.querySelector('#note-modal').classList.remove('active')") Nouvelle note

        section(id="notes")
            <!-- Lors du clic, récupérer les données et créer une nouvelle div qui aura le comportement d'un modal (position: fixed etc) -->
            for note in notes
                article(class="note")
                    input(type="number", name="note-id" value=note.note_id hidden)
                    div(class="note-title") Titre
                    div(class="note-text")=note.text

        article(id="note-modal")
            div(id="note-modal-inner")
                form
                    input(id="note-id" type="number" name="note-id" hidden)
                    textarea(id="note-text" name="text")
                span Dernière sauvegarde :
                span
                    button(id="close-modal-btn" class="button-stylised" onclick="refreshNotes()") Fermer


block js
    script(src='/js/refresh-notes.js')
    script(src='/js/modal.js')
    script(src='/js/search-note.js')