extends ../base

append stylesheets
    link(rel="stylesheet" href="/stylesheets/user-sign.css")

block content
    main
        h1.animated-title
            for letter of h1
                span=letter

        div.global-container.login
            div.login-container-1
                h2 Connexion
                        
                form#login-form
                    div#loader
                    div#errors
                    .field
                        .control
                            input#email(placeholder="Entrez votre email" type='email' name='email' class='input' required)
                    .field
                        .control
                            input#password(placeholder="Entrez votre mot de passe" type='password' name='password' class='input' required)
                .field
                    .control
                        button(class="button-stylised" type='submit') Se connecter

            div.signup-container-1
                h3 Pas de compte ?
                a(href="./signup" class="button-stylised") S'inscrire

block js
    script(src='/js/nbp/nbp.min.js')
    script(src='/js/user-sign.js')
