extends ../base

append stylesheets
    link(rel="stylesheet" href="/stylesheets/user-sign.css")

block content
    main
        h1
            for letter of title
                if letter == ' '
                    span(style="display: inline")=' ' 
                span=letter
                
        div#main-container
            div#errors
            form#login-form
                .field
                    label(for='email' class='label') E-mail :
                    .control
                        input#email(type='email' name='email' class='input' required)
                .field
                    label(for='password' class='label') Mot de passe :
                    .control
                        input#password(type='password' name='password' class='input' required)
                .field
                    .control
                        button(class="button-stylised" type='submit') Se connecter

        aside
            .control
                a(href="./signup" class="button-stylised") S'inscrire

block js
    script(src='/js/user-sign.js')
