extends ../base

append stylesheets
    link(rel="stylesheet" href="/stylesheets/user-sign.css")

block content
    main
        div.container
            h1
                for letter of title
                    if letter == ' '
                        span(style="display: inline")=' ' 
                    span=letter
            div#errors
            form#signup-form
                .field
                    label(for='name' class='label') Prénom :
                    .control
                        input#name(type='text' name='name' class='input' required)
                .field
                    label(for='surname' class='label') Nom de famille :
                    .control
                        input#surname(type='text' name='surname' class='input' required)
                .field
                    label(for='email' class='label') E-mail :
                    .control
                        input#email(type='email' name='email' class='input' required)
                .field
                    label(for='password' class='label') Mot de passe :
                    .control
                        input#password(type='password' name='password' class='input' required)
                .field
                    label(for='confirm-password' class='label') Mot de passe :
                    .control
                        input#confirm-password(type='password' name='confirm-password' class='input' required)
                .field
                    .control
                        button(type='submit' class='button-stylised') S'inscrire

        aside
            .control
                a(href="./login" class="button-stylised") Se connecter

block js
    script(src='/js/user-sign.js')
