extends ../base

append stylesheets
    link(rel="stylesheet" href="/stylesheets/user-sign.css")

block content
    main
        h1.animated-title
            for letter of h1
                span=letter

        div.global-container.signup
            div.signup-container-2
                h2 Inscription 

                form#signup-form
                    div#errors
                    .field
                        .control
                            input#name(placeholder="Nom" type='text' name='name' class='input' required)
                    .field
                        .control
                            input#surname(placeholder="Prénom" type='text' name='surname' class='input' required)
                    .field
                        .control
                            input#email(placeholder="Email" type='email' name='email' class='input' required)
                    .field
                        .control
                            input#password(placeholder="Mot de passe" type='password' name='password' class='input' required)
                    .field
                        .control
                            input#confirm-password(placeholder="Entrez de nouveau le mot de passe" type='password' name='confirm-password' class='input' required)
                .field
                    .control
                        button(type='submit' class='button-stylised') S'inscrire

            div.login-container-2
                    h3 Déjà un compte ?
                    a(href="./login" class="button-stylised") Se connecter

block js
    script(src='/js/nbp/nbp.min.js')
    script(src='/js/user-sign.js')
